<div class="container">
    <h3>{{title}}</h3><br>
    <p>{{content}}</p><br>
    <p>By {{user.name}}</p>
    <div class="container">
        <h4>Comments</h4>
            {{#each comments as |comment|}}
                <div class="container">
                    {{comment.user.name}}: {{comment.comment_text}}
                </div>
            {{/each}}
            <form id="newcomment">
                <div class="input-group mb-3">
                    <span class="input-group-text">Name</span>
                    <input type="text" name="name" aria-label="name" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Comment</span>
                    <textarea type="text" name="comment" aria-label="comment" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </form>
    </div>  
</div>

<script src="../js/new-comment.js"></script>
